# Welcome to the UniCycle infra repo. Here are the steps to set up your environment variables:
# 1. Copy this file
# 2. Rename the copied file to .env
# 3. Fill in the values for each variable as needed

DB_USER=unicycle_dev
DB_PASSWORD=your_local_password_here
DB_NAME=unicycle_dev_db

JWT_SECRET=your_super_secret_jwt_key_here